@font-face {
  font-family: "Rubik";
  src: url("Rubik-Light.ttf");
}

@font-face {
  font-family: "Fira Code";
  src: url("FiraCode-Medium.ttf")
}

@font-face {
  font-family: "Work Sans";
  src: url("WorkSans-Medium.ttf")
}

body {
  background-color: #1a1e21;
  color: #ffffff;
  font-family: "Rubik";
  padding-top: 50px;
  padding-right: calc(20px + 5vw);
  padding-left: calc(20px + 5vw);
  padding-bottom: 200px;
}

p, h1, h2, h3, h4, h5, button, input {
  color: inherit;
  font-family: inherit;
  font-weight: normal;
}

p {
  font-size: 18px;
  font-family: "Rubik";
}

h1, h2, h3, h4, h5 {
  font-family: "Work Sans";
}

h5 {
  font-size: 20px;
}

h4 {
  font-size: 25px;
}

h3 {
  font-size: 30px;
}

h2 {
  font-size: 40px;
}

h1 {
  font-size: 50px;
}

button, input {
  background-color: #202330;
  size: 200%;
  font-size: 24px;
  border-radius: 4px;
}

input.switchPage {
  background-color: #304050;
  width: 50%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

pre, code, textarea {
  color: inherit;
  font-family: "Fira Code";
  font-size: 18px;
}

pre, code {
  background-color: #101a20;
}

pre.blocks, pre.blocksInput {
  background-color: inherit;
}

textarea {
  background-color: #304050;
}